@charset "UTF-8";
body {
	background-color: #ECECEC;
	background-image: url(assets/images/bgtile.png);
	background-repeat: repeat;
}
h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: 20px;
	font-weight: normal;
	color: #3d220c;
	text-align: center;
}
h1 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-style: normal;
	line-height: 20px;
	font-weight: bold;
	color: #25afab;
	text-align: left;
	padding-top: 0.125in
}
h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: 20px;
	font-weight: normal;
	color: #3D220D;
	text-align: left;
	padding-top: 0.375in;
}
.hyperlink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: 20px;
	font-weight: bold;
	font-variant: normal;
	color: #25AFAB;
	text-decoration: underline;
	text-align: left;
}
.body {
	padding-right: 40px;
	padding-left: 40px;
	padding-top: 0px;
}
.p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: 20px;
	font-weight: normal;
	color: #3D220D;
	text-align: left;
}
